body {
  background-color: #f1f1f1;
  font-family:
    Roboto,
    sans-serif;
  font-size: 16px;
  margin: auto;
  line-height: 1.5;
  color: black;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100vw;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: #0003;
  margin: 16px auto 0;
  align-content: center;
  position: relative;
  width: 90%;
}

.left-column {
  background-color: white;
  height: fit-content;
  border-style: none;
  margin: 14px;
  font-size: 14px;
  width: 33.3334%;
  box-shadow:
    0 4px 10px 0 #0003,
    0 4px 20px 0 #00000030;
}

.image {
  background-image: url("../images/avatar_hat.jpg");
  width: 100%;
  background-position: center;
  background-size: cover;
  height: 35vh;
  flex-direction: column;
  position: relative;
  display: flex;
}

.image-text {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding-top: 28vh;
  padding-left: 16px;
}

.address {
  color: #757575;
  padding: 0 14px;
  max-width: 100%;
}

.color {
  border-radius: 16px;
  text-align: center;
  background-color: #e6e3e3;
  color: white;
  font-size: 10px;
}

/* skill scale */

.skills {
  font-size: 18px;
}

.percent1 {
  width: 90%;
  background-color: #009688;
  border-radius: 16px;
}

.percent2 {
  width: 80%;
  background-color: #009688;
  border-radius: 16px;
}

.percent3 {
  width: 75%;
  background-color: #009688;
  border-radius: 16px;
}

.percent4 {
  width: 50%;
  background-color: #009688;
  border-radius: 16px;
}

/* language scale */

.language {
  font-size: 18px;
}

.color1 {
  border-radius: 16px;
  text-align: center;
  background-color: #e6e3e3;
}

.rate1 {
  width: 100%;
  background-color: #009688;
  border-radius: 16px;
  height: 26px;
}

.rate2 {
  width: 50%;
  background-color: #009688;
  border-radius: 16px;
  height: 26px;
}

.rate3 {
  width: 25%;
  background-color: #009688;
  border-radius: 16px;
  height: 26px;
}

/* right column */

.right-column {
  width: 66.6667%;
  height: fit-content;
  margin: 14px 10px 14px 0;
  color: #757575;
  box-shadow:
    0 4px 10px 0 #0003,
    0 4px 20px 0 #00000030;
}

hr {
  height: 1px;
  background-color: #e9e5e5;
  border: none;
}

.tag {
  background-color: #009688;
  color: white;
  padding: 4px 10px;
  border-radius: 3px;
}

.card1 {
  background-color: white;
  padding: 4px 25px;
}

.card1 p {
  color: #0b0a0a;
  font-size: 16px;
}

.card2 .head2 {
  padding: 10px;
  padding-bottom: 20px;
}

.head5 {
  font-size: 18px;
}

.head6 {
  color: #009688;
  font-size: 13px;
}

.card2 {
  background-color: white;
  padding: 10px 25px;
  margin-top: 14px;
  box-shadow: #0b0a0a;
  line-height: 0.5;
}

.card2 p {
  color: #0b0a0a;
  font-size: 16px;
  line-height: 1;
}

footer {
  justify-content: center;
  align-items: left;
  text-align: center;
  width: 100%;
  color: white;
  background-color: #009688;
  height: 12vh;
  font-size: 14px;
  padding: 3px 0 35px;
}

footer i {
  color: white;
  display: inline-block;
  text-rendering: auto;
  font-size: medium;
}

.flex-container i {
  color: #009688;
  display: inline-block;
  padding-left: 12px;
  padding-right: 14px;
}

footer i:hover {
  color: #06b5a4;
}

a {
  color: white;
}

@media screen and (max-width: 1024px) {
  footer {
    width: 100vw;
  }
}

@media screen and (max-width: 600px) {
  .flex-container {
    flex-direction: column;
    width: 100%;
    margin: auto;
    align-items: center;
    margin-bottom: 30px;
  }

  .left-column {
    background-color: white;
    height: fit-content;
    border-style: none;
    font-size: 14px;
    width: 90%;
    box-shadow: #0b0a0a;
  }

  .right-column {
    width: 90%;
    margin: auto;
  }

  .image {
    width: 100%;
    height: auto;
  }

  .card2 p {
    line-height: 1;
  }

  .card2 .head5 {
    line-height: 1;
  }
}
